<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CategoryMapper">
    <select id="findCategoryWithProduct"
            parameterType="Integer"
            resultMap="CategoryWithProductMap">
        select p.id pid, p.goodsname, p.price, c.id cid, c.typename
        from category c, product p
        where c.id = p.typeid
        and c.id = #{cid}
    </select>

    <resultMap id="CategoryWithProductMap"
               type="Category">
        <id property="id" column="cid"/>
        <result property="typename" column="typename"/>
        <collection property="productList"
                    ofType="Product"
                    javaType="list">
            <id property="id" column="pid"/>
            <result property="goodsname" column="goodsname"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>

</mapper>
