<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="c22.mapper.CustomerMapper">
    <select id="findCustomerById" parameterType="String"
            resultType="c22.po.Customer">
        select *
        from customer
        where id = #{id};
    </select>
    <select id="findCustomerByName" parameterType="String"
            resultType="c22.po.Customer">
        select *
        from customer
        where name like '%${value}'
    </select>
    <insert id="addCustomer" parameterType="c22.po.Customer">
        insert into customer(id, name, job, phone)
        values (#{id}, #{name}, #{job}, #{phone})
    </insert>
    <update id="updateCustomer" parameterType="c22.po.Customer">
        update customer
        set name = #{name},
            job  = #{job},
            phone= #{phone}
        where id = #{id}
    </update>
    <delete id="deleteCustomer" parameterType="String">
        delete
        from customer
        where id = #{id}
    </delete>
</mapper>
