<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="c20.ioc.UserDaoImpl"/>
    <bean id="userDao2" class="c21.di.UserDao2Impl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userLoginDao" class="c22.login.UserLoginDaoImpl"/>
    <bean id="userService" class="c22.login.UserServiceImpl">
        <property name="userLoginDao" ref="userLoginDao"></property>
    </bean>
</beans>
